<div id="footer">
  <div class="sigla-itfest">
    <h3 class="titlu">ITFEST TIMIȘOARA</h3>
    <!-- TELEFON -->
    <div class="telefon icon-container">
      <i class="bi bi-telephone-fill"></i> <span>(+40) 256-592-181</span>
    </div>
    <!-- MAIL -->
    <div class="mail icon-container">
      <i class="bi bi-envelope-fill"></i> <span>itfest@osut.ro</span>
    </div>
  </div>
  <div class="sigla-osut">
    <h3 class="titlu">OSUT</h3>
    <!-- TELEFON -->
    <div class="telefon icon-container">
      <i class="bi bi-telephone-fill"></i>
      <span>(+40) 256-592-181</span>
    </div>
    <!-- MAIL -->
    <div class="mail icon-container">
      <i class="bi bi-envelope-fill"></i>
      <span>office@osut.ro</span>
    </div>
  </div>
  <div class="social-media">
    <h3 class="titlu">Social media</h3>
    <span class="social">
      Urmărește-ne și pe rețelele de socializare pentru a fi la curent cu
      noutățile!
    </span>
    <br>
    <div class="icon-container social-icon">
      <button class="button facebook"><a href="https://www.facebook.com/ITFestTimisoara">
      <i class="bi bi-facebook bi-lg"></i></a></button>
      <button class="button instagram"><a href="https://www.instagram.com/itfest.timisoara/" >
      <i class="bi bi-instagram"></i></a></button>
    </div>
  </div>
</div>
