html,
body {
  height: 100vh;
  background-image: linear-gradient(180deg, #1e77a5, #6af2d8);
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Lato", sans-serif;
  text-align: left;
}

.wrapper {
  padding: 75px 15px;
}
